[Desktop Entry]
Version=1.0
Type=Application
Name=Downloads on server.local
Comment=Downloads folder on Server Local
Exec=thunar smb://server.local/shared/downloads/
Icon=folder-download
Path=
Terminal=false
StartupNotify=false
Name[en_US.UTF-8]=Downloads on server.local
Name[en_US]=Downloads on server.local
