[Desktop Entry]
Version=1.0
Type=Application
Name=Music on server.local
Comment=Music folder on Server Local
Exec=thunar smb://server.local/shared/music/
Icon=folder-music
Path=
Terminal=false
StartupNotify=false
Name[en_US.UTF-8]=Music on server.local
Name[en_US]=Music on server.local
